<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>


<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>

<h1>REVIEWS</h1>

<div class="reviews">
  <% @restaurant.reviews.each do |review| %>
    <ul>
      <li> <%= "#{review.content} - Rating: #{review.rating}" %> </li>
    </ul>
  <% end %>
</div>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
<%= link_to 'Back to restaurants', restaurants_path %>
